body {
    padding: 10px;
}

#item-info img, .item-list img {
    text-align: center;
    width: 100%;
    box-shadow: 0px 0px 10px 5px #33333312;
}

.item-list {
    border: 1px dashed #eee;
    padding: 10px;
    margin: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.small-text{
    font-size: 12px;
}

.btn {
    margin: 10px 0 20px;
}

.comment_form {
    height: 200px;
}