{% extends "auctions/layout.html" %}

{% block body %}

    <div class="alert hide {{ message_class }}">
        {{ message }}
    </div>

    <h2>{{ item.title }}</h2>
   
    <div>
        <a href="{% url 'add_to_watchlist' item.id %}">Watchlist <i class="{{ fa_style }} fa-heart "></i></a>
    </div>

    <br>
    

    <div class="row" id="item-info">
        <div class="col-lg-3 col-md-6">
            <img  src="{{ item.image_url }}" alt="{{ item.title }}" title="{{ item.title }}">
        </div>
        <div class="col-lg-3 col-md-6">
            <h4>Active: {{ item.active }}</h4> 
            <p>Category: <a href="{% url 'category' item.category.id %}">{{ item.category.title }}</a></p>
            <p>{{ item.description }}</p>
            <h3>${{ bid.bid }}</h3> 
           
            <form action="{% url 'place_bid' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ item.id }}" name="listing_id">
                <input type="text" placeholder="Bid" class="form-control" name="bid">
                <input type="submit" value="Place Bid" class="btn btn-primary">
            </form>
                     
            <p class="small-text">
                Highest bid: {{ bid.user }}</br>
                Owned by: {{ item.owner }}
            </p>
            <div>
                <form action="{% url 'sell' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ item.id }}" name="listing_id">
                <input type="submit" value="Sell Listing" class="btn btn-success hide {{ button_class }}">
            </form>
            </div>                
        </div>
    </div>
    
    <br>
    <h3>Comments:</h3>
    {% for comment in comments %}
        <blockquote class="blockquote">
            <p class="blockquote">{{ comment.id }}. {{ comment.comment }}</p>
            <p class="blockquote-footer">{{ comment.user }}</p>
        </blockquote>
    {% endfor %}

    <div>
        <form action="{% url 'post_comment' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}" name="listing_id">
            <input type="text" class="form-control" name="comment">
            <input type="submit" value="Leave a comment" class="btn btn-secondary hide {{ comment_button_class }}">
        </form>
    </div> 
 
    
  
{% endblock %}