{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search results for '{{ search_request }}'
{% endblock %}

{% block body %}
    <h1>Search results for '{{ search_request }}':</h1>

    {{ entry_content |safe}}

    <ul>
        {% for entry in entries %}
            <li><a href="/wiki/{{ entry }}">{{ entry }}</a></li>
        {% empty %}
            <i>No entries.</i>
            <p><- Please, type your request into the input field and press 'Enter'.</p>
        {% endfor %}
    </ul>

{% endblock %}