{% extends "network/layout.html" %}

{% block body %}

<div class="container">

{% if user.is_authenticated %}
<div id="new_post" >
    <form action="{% url 'save_post' %}" method="post">
        {% csrf_token %}
        <div>
        <textarea class="form-control" type="textarea" name="new_content" placeholder="Put your thoughts into words..."></textarea>
        <input class="btn btn-primary" type=submit value="Post">
        </div>
    </form>
</div>
{% endif %}

<div id="user-info"></div>

<h1></h1>
<div id="posts"></div>

<div>
    <nav>
        <ul id="pagination" class="pagination"></ul>
    </nav>
</div>

</div>

{% endblock %}